server:
  port: 8082

spring:
  application:
    name: email-service
  config:
    import: "optional:configserver:http://config-server:8888"
  cloud:
    config:
      fail-fast: true
    bus:
      enabled: true
    stream:
      kafka:
        binder:
          brokers: kafka:9092
          configuration:
            key.serializer: org.apache.kafka.common.serialization.StringSerializer
            value.serializer: org.apache.kafka.common.serialization.ByteArraySerializer
  kafka:
    bootstrap-servers: kafka:9092
    producer:
      key-serializer: org.apache.kafka.common.serialization.StringSerializer
      value-serializer: org.apache.kafka.common.serialization.StringSerializer

management:
  endpoints:
    web:
      exposure:
        include: refresh, busrefresh
  endpoint:
    shutdown:
      enabled: true

eureka:
  client:
    service-url:
      defaultZone: http://discovery:8761/eureka/